.header {
    grid-area: h;
    background-color: green;
}

.header img {
    width: 20px;
    height: 20px;
}
.profileBlock {
       float: right;
}

.profileNavLInk {
    color: white;
}

.loginNavLInk {
    color: white;
}

